[submodule "submodules/evemacs"]
	path = submodules/evemacs
	url = https://github.com/yoshihara/evemacs.git
[submodule "imports/rbenv"]
	path = imports/rbenv
	url = git://github.com/senny/rbenv.el.git
[submodule "imports/scratch-log"]
	path = imports/scratch-log
	url = git://github.com/mori-dev/scratch-log.git
[submodule "imports/simplenote"]
	path = imports/simplenote
	url = https://github.com/cefstat/simplenote.el.git
[submodule "imports/rebuildfm"]
	path = imports/rebuildfm
	url = https://github.com/syohex/emacs-rebuildfm.git
